@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/LayoutCliente.cshtml";
}

<h2 class="mt-4">Bem-vindo ao teu perfil!</h2>
<p class="lead">Utiliza o menu acima para aceder às tuas Experiências e Skills.</p>
