@{
    ViewData["Title"] = "Página Principal";
    Layout = "~/Views/Shared/LayoutBemVindo.cshtml";
}

<h2>Bem-vindo à plataforma TalentosIT!</h2>
<p class="lead">Aqui começa a tua jornada no sistema 👏</p>
<p>Utiliza o menu de navegação para explorares todas as funcionalidades.</p>
