@{
    ViewData["Title"] = "Página Principal";
    ViewData["HideAuthButtons"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bem-vindo à página principal do IT Talentos!</h2>
<p>Aqui começa a tua jornada no sistema 👏</p>