@{
    ViewData["Title"] = "Proposta";
    Layout = "~/Views/Shared/LayoutEmpresa.cshtml";
    ViewData["HideAuthButtons"] = true;
}


<h2>Página de Propostas</h2>
<p>Aqui podes gerir as Propostas disponíveis.</p>
