@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";  <!-- Adicionar o novo layout -->
}

<h2>Bem-vindo à página de administração, @Context.Session.GetString("UserNome")!</h2>

<div class="mt-4">
    <ul>
        
    </ul>
</div>