@{
    ViewData["Title"] = "Talento";
    Layout = "~/Views/Shared/Layout2.cshtml";
    ViewData["HideAuthButtons"] = true;
}

<h2>Página de Talentos</h2>
<p>Aqui podes gerir os Talentos disponíveis.</p>
